.pm-sidebar {
  width: 230px;
  height: 100vh;
  background-color: #0a1f44; 
  color: #fff;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #cfd8ff;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: #132f63;
  color: #fff;
}
